h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px; }

strong {
  font-weight: 700; }

a {
  color: #0075ff;
  text-decoration: none;
  font-weight: 700; }

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1260px;
  height: 100%; }

.logo {
  width: 115px;
  height: 76px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2; }

.phone-icon {
  visibility: hidden;
  width: 18px;
  height: 18px;
  background-image: url("../images/phone.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.hamburger-icon {
  visibility: hidden;
  width: 18px;
  height: 18px;
  background-image: url("../images/hamburger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.x-icon {
  visibility: hidden;
  width: 18px;
  height: 18px;
  background-image: url("../images/x.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2; }

.nav {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0; }
  .nav__item {
    margin: 0 50px;
    list-style: none; }
    .nav__item--active {
      background-color: rgba(255, 255, 255, 0.1);
      padding: 8px 24px;
      margin: -8px 50px -8px 0;
      border-radius: 8px; }
    .nav__item:last-child {
      margin-right: 0; }
  .nav__link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link:hover {
      color: #9fadc2; }

.nav-mobile {
  position: absolute;
  top: 120px;
  left: 21px; }
  .nav-mobile__item {
    list-style: none;
    margin: 0 0 27px;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .nav-mobile__item--phone, .nav-mobile__item--action {
    list-style: none;
    position: relative;
    margin: 10px 0 0; }
  .nav-mobile__item--phone {
    margin-top: 40px; }
  .nav-mobile__link--action, .nav-mobile__link--phone {
    color: white;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .nav-mobile__link--action::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 111px;
    height: 1px;
    background-color: #fff; }

.header {
  height: 700px;
  background-image: url("../images/header.png");
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__nav-mobile--container {
    margin: 0;
    top: -24px;
    position: absolute;
    width: 100%;
    height: 568px;
    background-color: #0075ff;
    z-index: 1;
    visibility: hidden; }
  .header__menu--toggle {
    display: none; }
  .header__nav {
    position: absolute;
    bottom: 56px; }
  .header__top {
    width: 100%;
    position: absolute;
    top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white; }
  .header__phone {
    margin-top: 32px;
    letter-spacing: 2px;
    font-size: 12px; }
    .header__phone--link {
      color: white;
      text-decoration: none; }
  .header__action {
    margin-top: 32px;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .header__link {
    color: white;
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .header__link:hover {
      color: #9fadc2; }
  .header__title {
    color: white;
    letter-spacing: -1.5px;
    font-size: 60px;
    line-height: 60px;
    position: absolute;
    bottom: 165px;
    font-weight: 600;
    width: 328px; }
    .header__title::before {
      content: "";
      position: absolute;
      left: 0;
      top: -16px;
      width: 35px;
      height: 2px;
      border: 2px;
      background-color: #fff; }

@media screen and (max-width: 1200px) {
  .header {
    height: 568px; }
    .header__x-icon {
      right: 0;
      top: 0;
      margin: 15px 23px;
      position: absolute; }
    .header__menu--toggle:checked ~ .header__nav-mobile--container {
      visibility: visible; }
    .header__menu--toggle:checked ~ .header__x-icon {
      visibility: visible; }
    .header__top {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .header__logo {
      width: 73px;
      height: 48px; }
    .header__phone-icon, .header__hamburger-icon {
      visibility: visible;
      margin: 15px 23px; }
    .header__title {
      bottom: 80px;
      width: 253px;
      font-size: 46px;
      line-height: 40px; }
    .header__title--small-screen {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .nav,
  .header__phone,
  .header__action {
    display: none; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .info__heading {
    width: 328px;
    margin-right: 300px;
    font-size: 48px;
    letter-spacing: -1.5px;
    line-height: 48px; }
  .info__text {
    width: 500px; }
    .info__text > p {
      font-size: 16px;
      line-height: 27px;
      margin-bottom: 40px; }
    .info__text > p:first-child {
      margin-bottom: 0; }
  .info__text-title {
    font-size: 24px;
    line-height: 30px; }

@media screen and (max-width: 1200px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .info__heading {
      width: 240px;
      margin: 0;
      font-size: 36px;
      line-height: 36px; }
    .info__text {
      width: 240px; } }

.heading {
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;
  position: absolute; }
  .heading__crown {
    background-image: url("../images/crown.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 23px;
    height: 16px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto; }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px; }
  .photos--wide-right .photos__img:first-child {
    width: calc(33% - 10px); }
  .photos--wide-right .photos__img:last-child {
    width: calc(67% - 10px); }
  .photos--wide-left .photos__img:first-child {
    width: calc(67% - 10px); }
  .photos--wide-left .photos__img:last-child {
    width: calc(33% - 10px); }

@media screen and (max-width: 1200px) {
  .photos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .photos__img {
      width: 131px;
      height: 131px;
      margin: 0 10px; }
    .photos--wide-right .photos__img:first-child {
      width: 131px; }
    .photos--wide-right .photos__img:last-child {
      width: 131px; }
    .photos--wide-left .photos__img:first-child {
      width: 131px; }
    .photos--wide-left .photos__img:last-child {
      width: 131px; } }

.gallery > p {
  margin: 24px 0 40px; }

.gallery__button {
  padding: 21px 65px;
  background-color: white;
  border: 2px solid #0075ff;
  color: #0075ff;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .gallery__button:hover {
    background-color: #0075ff;
    color: white;
    cursor: pointer; }

.gallery__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media screen and (max-width: 1200px) {
  .gallery > p {
    text-align: center; }
  .gallery__button {
    width: 280px; } }

.section {
  padding: 70px 0;
  max-width: 1260px;
  margin: 0 auto 100px;
  position: relative;
  height: 100%; }
  .section__heading {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: -30px; }

@media screen and (max-width: 1200px) {
  .section__heading {
    font-size: 36px;
    line-height: 36px; } }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .consultation__text {
    margin-right: 394px;
    width: 412px;
    line-height: 27px; }
  .consultation__text-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px; }
  .consultation__button {
    margin-top: 16px;
    background-color: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;
    border: none;
    width: 413px;
    height: 56px;
    color: white; }
    .consultation__button:hover {
      background-color: white;
      color: #0075ff;
      border: 2px solid #0075ff;
      -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
              box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
      cursor: pointer; }

@media screen and (max-width: 1200px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .consultation__button, .consultation__text {
      width: 280px; }
    .consultation__text {
      margin-right: 0; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__input {
    width: 413px;
    height: 48px;
    background-color: #f7f8ff;
    border: 1px solid #fff;
    border-radius: 8px;
    margin-bottom: 16px;
    padding-left: 17px; }
    .form__input::-webkit-input-placeholder {
      font-size: 14px;
      color: #b9c1ce; }
    .form__input::-moz-placeholder {
      font-size: 14px;
      color: #b9c1ce; }
    .form__input:-ms-input-placeholder {
      font-size: 14px;
      color: #b9c1ce; }
    .form__input::-ms-input-placeholder {
      font-size: 14px;
      color: #b9c1ce; }
    .form__input::placeholder {
      font-size: 14px;
      color: #b9c1ce; }
  .form__input-message {
    padding-top: 17px;
    height: 144px;
    resize: none; }

@media screen and (max-width: 1200px) {
  .form__input {
    width: 280px; } }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .testimonials__name {
    width: 190px;
    color: #0075ff;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 28px auto 4px; }
  .testimonials__position {
    text-align: center;
    margin: 0 auto 4px;
    color: #9fadc2;
    font-size: 14px;
    line-height: 27px; }
  .testimonials__bio {
    text-align: center;
    margin: 0 auto 48px;
    color: #3e3e3e; }

@media screen and (max-width: 1200px) {
  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.profile {
  margin: 0 auto;
  width: 240px; }
  .profile__image {
    display: block;
    margin: 0 auto;
    width: 153px;
    height: 153px;
    border-radius: 50%; }

@media screen and (max-width: 1200px) {
  .profile {
    width: 280px; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .contacts__phone-email, .contacts__address, .contacts__your-contacts {
    margin-right: 108px; }
  .contacts__address {
    margin-right: 394px; }
  .contacts__phone-title, .contacts__email-title, .contacts__address-title {
    color: #9fadc2;
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 8px; }
  .contacts__phone, .contacts__email, .contacts__address {
    width: 152px;
    margin-top: 0;
    color: #3e3e3e;
    font-size: 16px;
    line-height: 27px; }
  .contacts__button {
    margin-top: 16px;
    background-color: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;
    border: none;
    width: 413px;
    height: 56px;
    color: white; }
    .contacts__button:hover {
      background-color: white;
      color: #0075ff;
      border: 2px solid #0075ff;
      -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
              box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
      cursor: pointer; }

@media screen and (max-width: 1200px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contacts__button {
      width: 280px; }
    .contacts__your-contacts {
      margin-right: 0; }
    .contacts__phone-email, .contacts__address {
      margin-right: 145px; } }

.footer {
  background-image: url("../images/footer.png");
  height: 359px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer__logo {
    width: 115px;
    height: 76px;
    position: absolute;
    bottom: 40px; }

@media screen and (max-width: 1200px) {
  .footer {
    height: 206px; }
    .footer__logo {
      width: 77px;
      height: 50px; } }

/*# sourceMappingURL=main.css.map */
